#loginform
{
	background: #1e7cd8;
	padding:10px;
	width: 300px;
	border: #19669f 4px solid;
	position: relative;	
	margin: 10px auto;
}

#loginform input
{
	border: #e5e5e5 2px solid;
	font-size: 16px;
}

#loginform span
{
	font-size: 16px;
	color: #ffffff;
}
#loginform button{
	border: #e5e5e5 2px solid;
	float: right;
	margin-right: 30px;
}
#loginform span.error{
	 color: #c42f2f;
}
span.error{
	width: 30%;
	color: #c42f2f;
	position: fixed;
	top: 0px;
	left: 35%;	
	text-align:center;
	background: #e5e5e5;
	border: #bfbfbf 2px solid;
	border-top: none;
	padding: 5px;
	z-index: 100;		
}

div.dialog{
	width: 30%;	
	position: fixed;
	top: 0px;
	left: 35%;	
	background: #e5e5e5;
	border: #bfbfbf 2px solid;
	border-top: none;
	padding: 5px;
	z-index: 90;		
}

#footer{	
	width:100%;	
	text-align:center;
	bottom: 100%;
	background: #4d4d4d;
	color: #e5e5e5;
}

#footer #sp1{
	margin-left:10px;
	float: left;
}

#footer #sp3{
	margin-right:10px;
	float: right;
}

#footer br{
	float: none;
}

#footer a{
	text-decoration: none;
	color: #e5e5e5;
}

#main{
	top: 0% ;
	left: 0% ;
	width: 100%;
	min-height: 450px;
}

#dashboard{	
	width: 100%;						
	background: #b7e5f5;
	border: #458fa7 2px solid;
}

#dashboard #id{
	background: #458fa7;
	padding: 3px;
	text-align:center;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

#dashboard #id span a{
	float:right;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	font-weight:normal;
}

#dashboard #desc{
	padding:5px;
}

#dashboard #desc #nam{
	margin: 5px;
	font-size: 21px;	
}

#dashboard #profile{
	margin:4px;
}

#dashboard #profile #pb{
	text-align:center;
	background: #7f7f7f;
	color: #ffffff;
}

#dashboard #profile #pb a{
	text-decoration: none;
	color: #ffffff;
}

#dashboard #profile #pt{
	border: #7f7f7f solid 1px;
	padding: 2px;
}

#dashboard #profile #pf{
	display:none;
}

#right-sidebar{	
	float: right;
	width: 25%
}

#left-sidebar{	
	float:left;
	width: 15%;
	border: 1px solid;	
	padding:10px;
}

a{
	text-decoration:none;
	color: inherit;
}

#left-sidebar div.lsbt{
	background:#4d4d4d;	
	color:#ffffff;
	padding: 3px;
	padding-left:5px;
	padding-right:5px;
	margin: 5px;
}

#left-sidebar div.lscd{
	padding-left:13px;
}

#cpane{
	width: 50%;
}
